body {
  font-family: Arial, sans-serif;
  background-color: #0f171e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1a242f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.search-container {
  display: flex;
  margin-bottom: 10px;
}
#sort {
  margin-bottom: 30px;
}

#search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1a242f;
  color: #fff;
  border: none;
  cursor: pointer;
}
#search-button:hover {
  background-color: #324457;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}

.movie-card {
  background-color: #1a242f;
  height: auto;
  color: white;
  cursor: pointer;
  padding: 20px;
  transition: all 0.3s;
}
.movie-card:hover {
  transform: scale(1.08);
  transition: all 0.3;
}

.movie-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-poster {
  width: 100%;
  height: 13rem;
  margin-bottom: 5px;
}
.movie-poster-details {
    width: 100%;
    height: 30rem;
    margin-bottom: 10px;
  }

img {
  width: 100%;
  height: 100%;
}

.movie-year {
  font-size: 14px;
  margin-bottom: 10px;
}

.details-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #0f171e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.details-button:hover {
  background-color: #324457;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 50rem;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 20px;
  text-align: center;
}

.footer {
  background-color: #1a242f;
  color: #fff;
  font: bold;
  padding: 20px;
  text-align: center;
  margin-top: 17px;
}
